{% extends 'base.html.twig' %}

{% block title %}Course Detail{% endblock %}

{% block body %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style>
    @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	font-family: "Inter", sans-serif;
	line-height: 1.5;
	min-height: 100vh;
	padding: 5rem 0;
	font-size: clamp(1rem, 2.5vw, 1.125rem);
}

section {
	width: 90%;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	
	& + section {
		margin-top: 2.5em;
	}
}

h1 {
	font-weight: 700;
	line-height: 1.125;
	font-size: clamp(1.5rem, 2.5vw, 2.5rem);
}

h2 {
	margin-top: .25em;
	color: #999;
	font-size: clamp(1.125rem, 2.5vw, 1.25rem);
	& + * {
		margin-top: 1.5em;
	}
}



summary {
	background-color: #fff;
	position: relative;
	cursor: pointer;
	padding: 1em .5em;
	list-style: none; // Remove arrow
	&::-webkit-details-marker {
		display: none; // Remove arrow
	}
	
	&:hover {
		background-color: #f2f5f9;
	}

	
	div {
		display: flex;
		align-items: center;
	}
	
	h3 {
		display: flex;
		flex-direction: column;
	}
	
	small {
		color: #999;
		font-size: .875em;
	}
	
	strong {
		font-weight: 700;
	}
	
	span:first-child {
		width: 4rem;
		height: 4rem;
		border-radius: 10px;
		background-color: #f3e1e1; 
		display: flex;
		flex-shrink: 0;
		align-items: center;
		justify-content: center;
		margin-right: 1.25em;
		svg {
			width: 2.25rem;
			height: 2.25rem;
		}
	}
	
	span:last-child {
		font-weight: 700;
		margin-left: auto;
	}
	
	&:focus {
		outline: none;
	}
	
	.plus {
		color: #289672;
	}
}

details {
	border-bottom: 1px solid #b5bfd9;
	&[open] {
		box-shadow: -3px 0 0 #b5bfd9;
	}
	
	&:first-of-type {
		border-top: 1px solid #b5bfd9;
	}
	& > div {
		padding: 2em 2em 0;
		font-size: .875em;
	}
}

dl {
	display: flex;
	flex-wrap: wrap;
	dt {
		font-weight: 700;
	}
	div {
		margin-right: 4em;
		margin-bottom: 2em;
	}
}
</style>

<!-- Header Start -->
<div class="jumbotron jumbotron-fluid page-header position-relative overlay-bottom">
    <div class="flex container text-center py-5">
        <h1 class="text-white display-1">Course Detail</h1>
        <div class="d-inline-flex text-white mb-5">
            <p class="m-0 text-uppercase"><a class="text-white" href="#">Home</a></p>
            <i class="fa fa-angle-double-right pt-1 px-3"></i>
            <p class="m-0 text-uppercase">Course Detail</p>
        </div>
       
    </div>
</div>
<!-- Header End -->


<!-- Detail Start -->
<div class="container py-5">
    <div class="row">
        <div class="col-lg-8">
            <div class="mb-5">
                <div class="section-title position-relative mb-5" >
                    <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2 pt-5">Course Detail</h6>
                    <h1 class="display-4">{{course.nomCours}}</h1>
                </div>
                <img class="img-fluid rounded w-100 mb-4" src="{{asset('img/public speak.jpg')}}"  alt="Course Image">
            </div>
            <!-- nav tabs -->

            <div class="">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" style="width: 33.33%;">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Overview</a>
                    </li>
                    <li class="nav-item" style="width: 33.33%;">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Lessons</a>
                    </li>
                    <li class="nav-item" style="width: 33.33%;">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Coach</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="pt-5">
                            <p>{{course.description}}</p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="pt-5 ">
                            <!-- lessons -->
                            <section>
                                <h1>Lesson's List</h1>
                                <h2>Today</h2>
                                {% for lesson in lessons %}
                                <details>
                                    <summary>
                                        <div class="row">
                                            <h3 >
                                                <img src="{{asset('img/books.svg')}}" style="width:3rem; height:"3rem"/>
                                                <strong>{{ lesson.titre }}</strong>
                                                <small></small>
                                            </h3>
                                            <span> </span>
                                        </div>
                                    </summary>
                                    <div>  <!-- Détails de la leçon -->
                                        <dl>
                                            <div>
                                                <dt>Description</dt>
                                                <dd>{{ lesson.description }}</dd> <!-- Assurez-vous d'adapter cela à la propriété correcte de votre entité Lesson -->
                                            </div>
                                            <div>
                                                <dt>Content</dt>
                                                <dd>h{{ lesson.contenu }} </dd> <!-- Assurez-vous d'adapter cela à la propriété correcte de votre entité Lesson -->
                                            </div>
                                            <div>
                                                <dt>Reference ID</dt>
                                                <dd>aaaaaaaaaaa</dd> <!-- Assurez-vous d'adapter cela à la propriété correcte de votre entité Lesson -->
                                            </div>
                                        </dl>
                                    </div>
                                </details>
                                {% endfor %}
                            </section>
                            
                            Contenu du profil
                        </div>
                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        <div class="container">
                            Contenu du contact
                        </div>
                    </div>
                </div>
            </div>
            
            <h2 class="mb-3">Related Courses</h2>
            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="img/related-course-1.jpg" class="card-img-top" alt="Related Course">
                        <div class="card-body">
                            <h5 class="card-title">Web Design Fundamentals</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <a href="#" class="btn btn-primary">View Course</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="img/related-course-2.jpg" class="card-img-top" alt="Related Course">
                        <div class="card-body">
                            <h5 class="card-title">Responsive Web Design</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <a href="#" class="btn btn-primary">View Course</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="img/related-course-3.jpg" class="card-img-top" alt="Related Course">
                        <div class="card-body">
                            <h5 class="card-title">HTML & CSS Mastery</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <a href="#" class="btn btn-primary">View Course</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="bg-light p-4 mb-4">
                <h3 class="mb-3">Course Features</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Instructor
                        <span>John Doe</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Rating
                        <span>4.5 (250)</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Lectures
                        <span>15</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Duration
                        <span>10.00 Hrs</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Skill Level
                        <span>All Levels</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Language
                        <span>English</span>
                    </li>
                </ul>
                <h5 class="mt-3">Course Price: $199</h5>
                <a href="#" class="btn btn-primary btn-block mt-3">Enroll Now</a>
            </div>

            <div class="mb-4">
                <h3 class="mb-3">Categories</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Web Design
                        <span class="badge badge-primary badge-pill">150</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Web Development
                        <span class="badge badge-primary badge-pill">131</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Online Marketing
                        <span class="badge badge-primary badge-pill">78</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Keyword Research
                        <span class="badge badge-primary badge-pill">56</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Email Marketing
                        <span class="badge badge-primary badge-pill">98</span>
                    </li>
                </ul>
            </div>

            <div>
                <h3 class="mb-3">Recent Courses</h3>
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="img/recent-course-1.jpg" class="card-img" alt="Recent Course">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Advanced Web Development</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="img/recent-course-2.jpg" class="card-img" alt="Recent Course">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Digital Marketing Strategy</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Detail End -->


{% endblock %}
