{% extends 'base.html.twig' %}

{% block title %}Courses Categories{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
{% endblock %}

{% block body %}

<div class="text-center wow fadeInUp mt-5" data-wow-delay="0.1s">
    <h6 class="section-title bg-white text-center text-primary px-3">Courses</h6>
    <h1 class="mb-5">Explore Our Courses</h1>
</div>

<div class="container py-5">
   
    
    <div class="row justify-content-center">
        {% for course in pagination %}
        <div class="col-md-4 mb-4">
            <div class="card border-0 shadow-sm">
                <img src="{{ asset('img/test.jpg')}}" class="card-img-top" alt="{{ course.nomCours }}">
                <div class="card-body">
                    <h5 class="card-title">{{ course.nomCours }}</h5>
                    <p class="card-text text-muted">{{ course.description|slice(0, 90)  }}...</p>
                </div>
                <div class="card-footer bg-transparent border-0 text-center">
                    <a href="{{ path('app_cours_details', {'id': course.id}) }}" class="btn btn-primary btn-sm">View Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
   
</div>
 
    {# Pagination controls #}
    <nav aria-label="Page navigation" class="mt-5">
        <ul class="pagination justify-content-center">
            {% if currentPage > 1 %}
            <li class="page-item">
                <a class="page-link" href="{{ path('app_courses', {'page': currentPage - 1}) }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
            
            {% for page in 1..totalPages %}
            <li class="page-item {% if page == currentPage %}active{% endif %}">
                <a class="page-link" href="{{ path('app_courses', {'page': page}) }}">{{ page }}</a>
            </li>
            {% endfor %}
            
            {% if currentPage < totalPages %}
            <li class="page-item">
                <a class="page-link" href="{{ path('app_courses', {'page': currentPage + 1}) }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
