{% extends 'base.html.twig' %}

{% block title %}Cours{% endblock %}

{% block body %}
    <h1>Cours</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cour.id }}</td>
            </tr>
            <tr>
                <th>Nom_cours</th>
                <td>{{ cour.nomCours }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ cour.description }}</td>
            </tr>
            <tr>
                <th>Avancement</th>
                <td>{{ cour.avancement }}</td>
            </tr>
            <tr>
                <th>Users</th>
                <td>
                    <ul>
                        {% for user in users %}
                            <li>{{ user.nom }}</li> {# Assuming 'nom' is a property of the User entity #}
                        {% endfor %}
                    </ul>
                    
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_cours_index') }}">back to list</a>

    <a href="{{ path('app_cours_edit', {'id': cour.id}) }}">edit</a>

    {{ include('cours/_delete_form.html.twig') }}
{% endblock %}
